PORT=3000
JWT_SECRET=cambia-este-secreto
MYSQL_ADDON_HOST=
MYSQL_ADDON_DB=
MYSQL_ADDON_USER=
MYSQL_ADDON_PORT=3306
MYSQL_ADDON_PASSWORD=
ADMIN_EMAIL=admin@edu.co
ADMIN_PASSWORD=cambia-esta-clave
ADMIN_NOMBRE=Administrador
ADMIN_APELLIDO=Bienestar
